html {
  display: grid;
  min-height: 100%;
  font-family: "EB Garamond";
}
body {
  display: grid;
  min-height: 100%;
  grid-template-rows: 1fr auto;
}
#h1 {
  color: #181111;
  font-size: 60px;
  text-align: center;
  font-weight: 400;
}

body {
  background-color: #ded7d7;
  margin: 0px;
}
footer {
  background-color: #54393b;
  padding: 20px;
  color: #f6f4f4;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer p {
  flex: 1;
}

.icons {
  color: #f6f4f4;
  font-size: 50px;
  display: inline-block;
  margin-inline: 3px;
}
.icons-wrapper {
  text-align: center;
}
.footer-text {
  text-align: end;
  font-size: 20px;
}
.img {
  width: 200px;
  background-color: rgb(243, 39, 80);
}
#me {
  color: black;
  width: 40%;
  height: auto;
}
